<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="container">
    <h1 align="center">Top 10 Frameworks</h1>
  </div>
</div>

<div class="container">
  <br>
  <section class="mt-4">
    <div class="container">
        <br>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Tecnologías Web</h3>
              <p style="text-align: justify;">
                En la actualidad toda institución requiere interactuar de menor a 
                mayor manera con las nuevas tecnologías de información y comunicación
                siendo el uso de las tecnologías online una herramienta primordial
                para incorporar a la institución en el nuevo enfoque de mercado
                laboral y competitividad empresarial. El buen manejo de las 
                tecnologías online proporciona una ventaja competitiva a los
                profesionales e instituciones que hacen uso efectivo de estas
                tecnologías.
              </p>
              <p><a href="https://lpz.ucb.edu.bo/pregrado/ingenieria-de-sistemas/" target="_blank" rel="noopener noreferrer">Más información aquí</a></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">¿Qué es un Framework?</h3>
              <p style="text-align: justify;">
                Un framework es un marco o esquema de trabajo generalmente utilizado
                por programadores para realizar el desarrollo de software. Utilizar 
                un framework permite agilizar los procesos de desarrollo ya que evita 
                tener que escribir código de forma repetitiva, asegura unas buenas 
                prácticas y la consistencia del código.
                Un framework es por tanto un conjunto de herramientas y módulos que 
                pueden ser reutilizados para varios proyectos.
              </p>            
              <p><a href="https://www.arimetrics.com/glosario-digital/framework" target="_blank" rel="noopener noreferrer">Más información aquí</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br><h1 align="center">¡TOP 10!</h1>
  <div class="container">
    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-4">
              <img src="../assets/react.png" class="img-fluid" alt="" height="1000">
          </div>
          <div class="col-md-8 mt-3">
            <div style="padding: 3%;">
              <h4 class="card-title">1. <a href="https://es.reactjs.org/" class="blacklink" target="_blank">React</a></h4>
              <p>Lenguaje: JavaScript</p>
              <p>
                Desarrollado y mantenido por Facebook. React es técnicamnete una librería frontend
                en lugar de un framework tradicional. Fue el primero en usar una arquitectura basada
                en componentes, algo que fue adoptado posteriormente por otras herramientas. Puede
                ser usado en el lado servidor o cliente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-8 mt-2">
            <div style="padding: 3%;">
              <h4 class="card-title">2. <a href="https://angular.io/" class="blacklink" target="_blank">Angular</a></h4>
              <p>Lenguaje: JavaScript/TypeScript</p>
              <p>
                Desarrollado primero por Google y luego lanzado como un framework open-source,
                Angular es popular por su uso en la construcción a gran escala de Single Page Apps
                que son fáciles de mantener. Weather, PayPal, Netflix y YouTube PS3 utilizan Angular. 
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../assets/angular.png" class="img-fluid" alt="" height="1000">
          </div>
      </div>
      </div>
    </div>
    <br>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-4">
              <img style="align-content: center;" src="../assets/django.jpg" class="img-fluid" alt="" height="1000">
          </div>
          <div class="col-md-8 mt-2">
            <div style="padding: 3%;">
              <h4 class="card-title">3. <a href="https://www.djangoproject.com/" class="blacklink" target="_blank">Django</a></h4>
              <p>Lenguaje: Python</p>
              <p>
                De lejos uno de los más conocidos y utilizados frameworks, Django es un model-view-template
                mayormente utilizado para crear aplicaciones web. Es muy intuitivo, versatil y fácilmente escalable.
                Pinterest, Instagram y Quora lo utilizan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-8 mt-3">
            <div style="padding: 3%;">
              <h4 class="card-title">4. <a href="https://rubyonrails.org/" class="blacklink" target="_blank">Ruby on Rails</a></h4>
              <p>Lenguaje: Ruby</p>
              <p>
                Un framework de model-view-controller, escrito por David Heinemeier Hansson y utilizado
                para aplicaciones web. Utiliza un lenguaje propietario (Ruby) que permite el desarrollo de apps 
                en un marco tiempo más rápido. Shopify, Airbnb y Groupon utilizan Ruby on Rails.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../assets/ruby.png" class="img-fluid" alt="" height="1000">
          </div>
      </div>
      </div>
    </div>
    <br>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-4">
              <img src="../assets/laravel.png" class="img-fluid" alt="" height="1000">
          </div>
          <div class="col-md-8 mt-2">
            <div style="padding: 3%;">
              <h4 class="card-title">5. <a href="https://laravel.com/" class="blacklink" target="_blank">Laravel</a></h4>
              <p>Lenguaje: PHP</p>
              <p>
                Originalmente lanzado en 2011 por Taylor Otwell, Laravel es un framework MVC que utiliza
                el popular lenguajes PHP. Este framework es excelente para principiantes, pero los más experimentados 
                pueden encontrar mucho para apreciar también.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-8 mt-4">
            <div style="padding: 3%;">
              <h4 class="card-title">6. <a href="https://dotnet.microsoft.com/apps/aspnet" class="blacklink" target="_blank">ASP.net</a></h4>
              <p>Lenguaje: C#</p>
              <p>
                Desarrollado y lanzado por Microsoft, ASP.NET es un framework diseñado para crear aplicaciones
                web usando .NET para PCs y dispositivos móviles. Es minimalista y de alto rendimiento. Getty Images,
                Taco Bell y Stack Overflow fueron construidos con ASP.NET
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../assets/asp.png" class="img-fluid" alt="" height="1000">
          </div>
      </div>
      </div>
    </div>
    <br>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-4">
              <img src="../assets/express.png" class="img-fluid" alt="" height="1000">
          </div>
          <div class="col-md-8 mt-3">
            <div style="padding: 3%;">
              <h4 class="card-title">7. <a href="https://expressjs.com/es/" class="blacklink" target="_blank">Express</a></h4>
              <p>Lenguaje: JavaScript</p>
              <p>
                Es un framework minimalista y altamente versatil que puede ser utilizado para desarrollar 
                rapidamente aplicaciones web basadas en Node.js. Es minimalista en su forma original, pero 
                tiene muchas funcionalidades que pueden ser implementadas com plugins. Storify, IBM y Uber utilizan Express.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-8 mt-3">
            <div style="padding: 3%;">
              <h4 class="card-title">8. <a href="https://vuejs.org/" class="blacklink" target="_blank">Vue</a></h4>
              <p>Lenguaje: JavaScript</p>
              <p>
                Inicialmente con la intención de ser una alternativa para los usuarios de angular. Este framework
                progresivo puede ser adoptado en porciones isoladas de proyectos existentes sin ningun problema y su 
                ecosistema puede ser utilizado para desarrollar aplicaciones en el frontend.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../assets/vue.jpg" class="img-fluid" alt="" height="1000">
          </div>
      </div>
      </div>
    </div>
    <br>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-4">
              <img src="../assets/spring.png" class="img-fluid" alt="" height="1000">
          </div>
          <div class="col-md-8 mt-2">
            <div style="padding: 3%;">
              <h4 class="card-title">9. <a href="https://spring.io/" class="blacklink" target="_blank">Spring</a></h4>
              <p>Lenguaje: Java</p>
              <p>
                De lejos la apliación de desarrollo más popular de Java. Spring es un framework MVC utilizado por
                bastantes empresas grandes, como Wix y Ticketmaster. Es un framework avanzado que incluye numerosos
                proyectos hermanos que pueden mejorar el rendimiento y escalar rápidamente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
          <div class="col-md-8 mt-2">
            <div style="padding: 3%;">
              <h4 class="card-title">10. <a href="https://emberjs.com/" class="blacklink" target="_blank">Ember</a></h4>
              <p>Lenguaje: JavaScript</p>
              <p>
                Este framework JavaScript es un favorito entre los desarrolladores que aprecian el desarrollo de 
                aplicaciones robustas y escalables, junto con una eficiencia mejorada. Es altamente productivo y usado por 
                algunos de las más reconocidas aplicaciones en existencia, como Apple Music, LinkedIn, Netflix y Google.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../assets/ember.svg" class="img-fluid" alt="" height="1000">
          </div>
      </div>
      </div>
    </div>
    <br>
  </div>

  <footer>
    <br><br>
    <p align="center">Designed by: <a target="_blank" style="color: black;" href="https://www.linkedin.com/in/alexander-sosa-asillanes">Alexander Sosa</a> - 2021 All Rights Reserved © </p>
    <br><br>
  </footer>
</div>

<router-outlet></router-outlet>
